<mat-toolbar class="toolbar">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search a Pokemon</mat-label>
      <input
        type="search"
        matInput
        placeholder="Search by name or number."
        (input)="searchHandler($event)"
      >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</mat-toolbar>

<div class="container mt-lg-5 mt-md-4 mt-3 mb-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let pokemon of pokemonPage()">
      <app-row
        [pokemon]="pokemon"
        (addToCart)="fromChild($event)"
      />
    </div>
  </div>
</div>

<mat-paginator
    #paginator
    class="sticky-paginator"
    [length]="pageLength()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[12, 24, 36]"
    aria-label="Select page"
    (page)="onPageChange($event)"
>
</mat-paginator>